.screen-reader-text {
	display: none;
}

.menu-toggle {
	display: none;
}

.site-header {
	position: relative;
	padding: 30px 0 0 41px;
	margin-bottom: 83px;
}

.home {
	.site-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 20;
		padding: 30px 0 0 41px;
		background: rgba( #fff, 0 );
	}
}

.site-branding {
	display: flex;
	position: relative;

	.heading {
		display: flex;
		overflow: hidden;
		transition: .3s;
		overflow: hidden;
		margin-right: 5px;
		transition: .2s;

		&:nth-child(2) {
			.heading-expand {
				padding-left: 2px;
			}

			div {
				margin-left: 5px;
			}
		}

		&:nth-child(3) {
			div {
				margin-left: 5px;
			}
		}

		div {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 77px;
			margin-top: 8px;
			opacity: 0;

			&.active {
				opacity: 1;
			}
		}
	}

	.heading-expand {
		font-size: 87px;
		line-height: 1;
		color: #000;
		cursor: pointer;
		display: inline-block;
		transition: .2s;

		&.active, &:hover {
			color: $green;
		}

		&.non-active {
			color: #000000 !important;
		}
	}

	a {
		font-size: 32px;
		color: #000;
		white-space: nowrap;
		transition: .2s;

		&.active, &:hover {
			color: $green;
		}
	}
}

.site-socials {
	position: absolute;
	top: 44px;
	right: 48px;

	li {
		position: absolute;
		top: 0;
		right: 1px;

		&:nth-child(2) {
			top: 21px;
		}

		&:nth-child(3) {
			right: -1px;
			top: 43px;
		}
	}

	a {
		font-size: 20px;
		color: #000000;
		transition: .3s;

		&:hover {
			color: $green;
		}
	}

	.fa-facebook-square {
		border-radius: 5px;
		overflow: hidden;
		font-size: 20px;
		height: 19px;
		width: 17px;
	}
}