.screen-reader-text {
    display: none;
}

.menu-toggle {
    display: none;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 30px 0 0 41px;
    background: rgba( #fff, 0 );
}

.home,
.category-publications {
    .site-header {
        background: none;
    }
}

.site-branding {
    display: flex;
    position: relative;

    .heading {
        display: flex;
        overflow: hidden;
        transition: .3s;
        overflow: hidden;
        margin-right: 5px;
        transition: .2s;

        &:nth-child(2) {
            .heading-expand {
                padding-left: 2px;
            }

            div {
                margin-left: 5px;
            }
        }

        &:nth-child(3) {
            div {
                margin-left: 5px;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }
    }

    .heading-expand {
        font-size: 87px;
        line-height: 1;
        color: #000;
        cursor: pointer;
        display: inline-block;
        transition: .2s;

        &.active, &:hover {
            color: $green;
        }
    }

    a {
        font-size: 32px;
        color: #000;
        white-space: nowrap;
        transition: .2s;

        &.active, &:hover {
            color: $green;
        }
    }
}

.site-social {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: inline-block;
        color: #ffffff;
        margin-left: 15px;
    }

    ion-icon {
        font-size: 20px;
    }
}

.site-socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 19px;
    right: 48px;

    a {
        font-size: 20px;
        color: #000000;
        transition: .3s;

        &:hover {
            color: $green;
        }
    }
}