.screen-reader-text {
	display: none;
}

.menu-toggle {
	display: none;
}

.site-header {
	position: relative;
	padding: 30px 0 0 41px;
	margin-bottom: 83px;
}

.home {
	.site-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: rgba( #fff, 0 );
	}

	main {
		padding: 0;
	}
}

.site-branding {
	display: flex;
	position: relative;

	.heading {
		display: flex;
		transition: .3s;
		overflow: hidden;
		margin-right: 5px;
		transition: .2s;

		&:nth-child(2) {
			.heading-expand {
				padding-left: 2px;
			}

			div {
				margin-left: 5px;
			}
		}

		&:nth-child(3) {
			div {
				margin-left: 5px;
			}
		}

		div {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 77px;
			margin-top: 8px;
			opacity: 0;

			&.active {
				opacity: 1;
			}
		}
	}

	.heading-expand {
		font-size: 87px;
		line-height: 1;
		color: #000;
		cursor: pointer;
		display: inline-block;
		transition: .2s;

		&.active, &:hover {
			color: $green;
		}

		&.non-active {
			color: #000000 !important;
		}
	}

	a {
		font-size: 32px;
		color: #000;
		white-space: nowrap;
		transition: .2s;

		&.active, &:hover {
			color: $green;
		}
	}
}

.site-socials {
	position: absolute;
	top: 44px;
	right: 48px;

	li {
		position: absolute;
		top: 0;
		right: 1px;

		&:nth-child(2) {
			top: 24px;
		}

		&:nth-child(3) {
			right: 0;
			top: 46px;
		}
	}

	a {
		font-size: 20px;
		color: #000000;
		transition: .3s;

		&:hover {
			svg {
				fill: $green;
			}
		}
	}

	svg {
		transition: .3s;
	}

	.fac {
		svg {
			width: 18px;
		}
	}

	.ins {
		svg {
			width: 18px;
		}
	}

	.you {
		svg {
			width: 23px;
		}
	}
}

.mb-overlay {
	@media all and (min-width: 992px) {
		display: none;
	}
}

@media all and (max-width: 991px) {
	.site-header {
		position: fixed;
		z-index: 20;
		bottom: 0;
		top: unset;
		left: 0;
		right: 0;
		margin-bottom: 0;
		padding: 0 0 4px 10px;
		background: #ffffff;
		box-shadow: 0 -4px 6px 1px rgba(0, 0, 0, 0.05);
	}

	.home .site-header {
		position: fixed;
		bottom: 0;
		top: unset;
		left: 0;
		right: 0;
		margin-bottom: 0;
		padding: 0 0 4px 10px;
		background: #ffffff;
		box-shadow: 0 -4px 6px 1px rgba(0, 0, 0, 0.05);
		z-index: 0;
	}

	.site-branding {
		z-index: 20;

		.heading {
			position: relative;
			overflow: visible;

			&:first-child {
				div {
					margin-left: 5px;
				}
			}

			&:nth-child(2) {
				margin-right: 8px;

				div {
					margin-left: 0;
				}
			}

			&:nth-child(3) {
				div {
					margin-left: 2px;
				}
			}

			div {
				position: absolute;
				top: -38px;
				left: 0;
				transform: rotate(-90deg);
				transform-origin: 15px;
				height: 36px;
				display: none;

				&.m-active {
					opacity: 1;
					display: flex;
				}
			}
		}

		.heading-expand {
			font-size: 50px;
			transition: .2s;

			&.m-active {
				transform: rotate(-90deg);
				transform-origin: center;
			}
		}

		a {
			font-size: 15px;
		}
	}

	.site-socials {
		position: absolute;
		display: flex;
		top: 17px;
		right: 15px;
		z-index: 20;
		
		li {
			position: relative;
			margin-left: 10px;
			top: 0 !important;
		}
	}

	.mb-overlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 19;
		width: 100%;
		height: 100%;
		background: #ffffff;
		transform: translateY(100%);
		transition: .2s;

		button {
			position: absolute;
			top: 8px;
			right: 13px;
			font-size: 30px;
			border: 0;
			padding: 0;
			background: none;
		}

		&.m-active {
			transform: translateY(0)
		}
	}
}