.contact {
	margin: 25vh 0;
}

.contact h2 {
	font-size: 30px;
	margin-bottom: 30px;
}

.contact .container {
	padding: 0;
}

.contact a {
	color: #ffffff;
}

.contact .map {
	margin-top: 100px;
}
