.page-template-ars {
	.ars {
		> .container {
			> .row {
				justify-content: space-between;
				position: relative;
			}
		}

		img {
			display: block;
			margin-bottom: 30px;
		}
	}

	.col-left {

		h2 {
			text-align: left;
			margin: 42px 0 15px;
			
			& + p {
				margin-bottom: 70px;
			}
		}
	}
	
	h2 {
		margin-bottom: 20px;
		text-align: center;
	}

	h3 {
		text-align: center;
		margin-bottom: 15px;
	}
}