.contact {
    margin: 25vh 0;

    h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    .container {
        padding: 0;
    }

    a {
        color: #ffffff;
    }

    .map {
        margin-top: 100px;
    }
}