.home {
    .link-to-home, .h {
        color: $green;
    }
    
    .loading {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 25;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        h1 {
            color: #000000;
            font-size: 57px;
        }
    }
    svg {
        width: 400px;
    }
}

.banner {
    height: 100vh;
    margin-left: 50px;
    width: calc( 100% - 50px );

    .swiper-slide {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .image {
        width: 60%;
        height: 80%;
        background-position: center center;
        background-size: cover;
    }

    .content {
        color: #ffffff;
        position: absolute;
        top: 40%;
        left: 0;
    }

    p {
        font-size: 20px;
        font-family: $f2;
        display: block;
        width: 60%;
        margin-bottom: 100px;
        opacity: 0.5;
    }

    h2 {
        font-size: 50px;
    }

    .swiper-scrollbar {
        background: rgba( #fff, 0.3);
        height: 2px !important;
        bottom: 5% !important;
        width: 60% !important;
        right: 0 !important;
        left: unset;
    }

    .swiper-button-next {
        top: unset;
        bottom: 20%;
        right: unset;
        left: 40%;
        margin: 0;
        background: $black;
        width: 70px;
        height: 70px;

        &:after {
            color: #fff;
        }
    }

    .swiper-button-prev {
        top: unset;
        bottom: 20%;
        left: unset;
        right: 60%;
        margin: 0;
        background: #ffffff;
        width: 70px;
        height: 70px;

        &:after {
            color: $black;
        }
    }

    .swiper-scrollbar-drag {
        background: #ffffff;
    }
}