.home {
    .link-to-home, .h {
        color: $green;
    }
    
    .loading {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 25;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        h1 {
            color: #000000;
            font-size: 57px;
        }
    }
    svg {
        width: 400px;
    }
}

.banner {
    height: 100vh;
    margin-left: 50px;
    width: calc( 100% - 50px );

    .swiper-slide {
        display: flex !important;
        justify-content: flex-end;
        position: relative;
    }

    .image {
        display: block;
        width: 60%;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.03);
            }
        }
        
        img {
            width: 100%;
            height: 90vh;
            transition: 1s;
        }
    }

    .content {
        color: #ffffff;
        position: absolute;
        top: 40%;
        left: 0;
    }

    p {
        font-size: 20px;
        font-family: $f2;
        display: block;
        width: 60%;
        margin-bottom: 100px;
        color: $grey;
    }

    h2 {
        font-size: 50px;
        max-width: 50vw;

        a {
            color: #fff;
        }
    }

    .slick-arrow {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        z-index: 5;

        &.prev {
            background: #ffffff;
            right: 60%;
        }

        &.next {
            background: $black;
            left: 40%;

            ion-icon {
                color: #fff;
            }
        }

        ion-icon {
            font-size: 30px;
            color: $black;
        }
    }
}