.blog {
    .page-title {
        font-size: 48px;
        text-align: center;
        font-weight: 300;
        margin: 60px 0;
    }

    .blogs {
        margin-bottom: 100px;

        article {
            position: relative;
            transition: .3s;
            
            &:hover {
                box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.6);

                .entry-content {
                    display: block;
                }
            }

            img {
                width: 100%;
            }

            .entry-content {
                position: absolute;
                background: #ffffff;
                top: calc( 100% - 10px );
                left: 0;
                padding: 20px;
                margin-top: 0;
                z-index: 4;
                display: none;
            }

            h3 {
                text-transform: uppercase;
                font-size: 16px;
                color: #000000;
            }

            p {
                font-size: 12px;
                @include set-line( 3, 16px );
                margin: 15px 0 30px;
                color: #000000;
            }

            .tags {
                display: flex;

                a {
                    padding: 3px 7px;
                    margin-right: 7px;
                    background: #137b6c;
                    font-size: 12px;
                    color: #000000;
                }
            }
        }
    }
}